.sidebar {
  $size_sidebar: 50vw;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
  width: $size_sidebar;
  background-color: white;
  padding-bottom: 90px;
 @include for-size(phone) {
      width: 100vw;
 }
  header {
    margin-bottom: 20px;
  }
  .nav-tabs.nav-justified{
      padding: 10px;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
      li {
        border-right: 1px solid $color-border;
        @include for-size(phone) {
          border-right: none;
          &:after {
            content: "";
            position: absolute;
            width: 33.33%;
            bottom: 0;
            left: 33.33%;
            border-top: 1px solid $color-border;
          }
      }
              a {
          border-bottom:none;
          color:#000;
          cursor: pointer;
          &:hover {
          background-color: white;
          border: none;
        }
        }
      }
        li:last-child {
          border: none;
          @include for-size(phone) {
            &:after {
            border-top: none;
            }
          }
      }
  }
  .btn-group {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: white;
  }
  .container {
    width: 100%;
  }

  // CV
  .media {
    border: 1px solid $color-border;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
    p {
      margin-bottom: 5px;
    }
  }
}